.Navbar {
    height: 12vh;
    display: flex;
    background-color: var(--second-color);
}

.logo {
    height: 100%;
    padding-left: 1vw;
}

.navigation {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    margin: auto;
}

.navigation a {
    text-decoration: none;
    color: var(--main-color);
    width: 20%;
    text-align: center;
    font-size: 1,5em;
}

.navigation a:hover {

        color: var(--fourth-color);
}