.animal-img {
    width: 20vw;
    height: 50vh;
    object-fit: cover;
}

.animal-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--main-color);
    background-color: var(--second-color);
}

.animal-desc span {
    font-size: 1,2em;
}